* {
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 2em 0;
}


button {
    width: 5em;
}
button.large {
    width: 10em;
}

input[type=text] {
    width: 100%;
}

textarea {
    width: 100%;
    resize: vertical;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

hr {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: None;
}

#root {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 2em;
    width: 50%;
    min-width: 30em;
}

#index {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 3em 0;
}

#item_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

#review_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}

#item_reviews {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 3em;
    width: 90%;
}

#item_picture {
    height: auto;
    width: 30%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
}

#item_description {
    width: 50%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    width: 100%;
}
.container.flex_start {
    align-items: flex-start;
    padding: 2em 0;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #97df9b;
    border: 2px solid black;
    border-radius: 50px;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
}

.review {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.review_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}