<!DOCTYPE html>
<html>

<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  </style>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div id="root">
    <title>Rating App</title>

    <h1>Rating App</h1>

    <nav>
      <a href="/">Home</a>
      {% if not session.username %}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      {% endif %}
      {% if session.username %}
      <a href="/logout">Logout</a>
      <a href="/user/{{session.username}}">Profile</a>
      {% endif %}
    </nav>

    <hr>

    {% block content %}{% endblock %}

    <hr>
  </div>
</body>

</html>