<!DOCTYPE html>
<html>

<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  </style>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div id="root">
    <title>Rating App</title>

    <h1>Rating App</h1>

    <nav>
      <form action="/">
        <button type="submit">Home</button>
      </form>
      {% if not session.username %}
      <form action="/login">
        <button type="submit">Login</button>
      </form>
      <form action="/register">
        <button type="submit">Register</button>
      </form>
      {% endif %}
      {% if session.username %}
      <form action="/logout">
        <button typ="submit">Logout</button>
      </form>
      <form action="/user/{{session.username}}">
        <button type="submit">Profile</button>
      </form>
      {% endif %}
    </nav>

    <hr>

    {% block content %}{% endblock %}

    <hr>
  </div>
</body>

</html>