{% extends "layout.html" %}

{% block content%}

<div id="review_item">
    <div class="container_row">
        <h3 id="item_name">{{review_item.name}}</h3>
        <h3 id="item_publication_date">
            {{review_item.publication_date.day}}.{{review_item.publication_date.month}}.{{review_item.publication_date.year}}
        </h3>
        <h3 class="rating">{{rating}}</h3>
        {% if admin %}
        <div>
            <form action="/category/{{category}}/{{review_item.id}}/modify">
                <input type="hidden" name="token" value="{{session.token}}">
                <button action="submit">Edit</button>
            </form>
            <form action="/category/{{category}}/{{review_item.id}}/delete" method="post">
                <input type="hidden" name="token" value="{{session.token}}">
                <button action="submit">Delete</button>
            </form>
        </div>
        {% endif %}
    </div>

    <hr>

    <div class="container_row flex_start">
        {% if picture %}
        <img id="item_picture" src="data:;base64,{{picture}}" alt="Items picture">
        {% endif %}
        <p id="item_description">{{review_item.description}}</p>
    </div>
</div>

<hr>

<div id="item_reviews">
    <h2>Reviews</h2>
    {% for review in reviews %}
    <div class="review">
        <div class="review_content">
            <h3 class="rating">{{review.rating}}</h3>
            <p>{{review.text}}</p>
        </div>
        <p>
            Review by: <a href="/user/{{review.username}}">{{review.username}}</a>
        </p>
        {% if admin or session.username == review.username %}
        <form action="/delete_review/{{review.id}}?category={{category}}&item={{review_item.id}}" method="POST">
            <button class="large" type="submit">Delete Review</button>
        </form>
        {% endif %}
        <br>
    </div>
    {% endfor %}
</div>


{% if session.username %}
{% if error %}
<p>{{error}}</p>
{% endif %}
<hr>
<form action="/category/{{review_item.category}}/{{review_item.id}}" method="POST">
    <p>Rating <br>
        <input type="number" min="1" max="10" name="rating" placeholder="1-10">
    </p>
    <p>Review <br>
        <textarea name="review" cols="40" rows="6" maxlength="1000" minlength="10" placeholder="Write your review here..."></textarea>
    </p>
    <input type="hidden" name="review_item_id" value="{{review_item.id}}">
    <input type="hidden" name="token" value="{{session.token}}">
    <button class="large" type="submit">Create Review</button>
</form>
{% endif %}
{% endblock %}