{% extends "layout.html" %}

{% block content %}
<h1>Modifying {{username}}</h1>

{% if error %}
<p>{{error}}</p>
{% endif %}

<form action="/user/{{username}}/modify" method="POST" enctype="multipart/form-data">
  <label>Favourite category:</label>
  <select name="category">
    {% for category in categories %}
    {% if category == current_category %}
    <option selected value="{{category}}">{{category}}s</option>
    {% else %}
    <option value="{{category}}">{{category}}s</option>
    {% endif %}
    {% endfor %}
  </select>
  <br>
  <label>Profile picture:</label>
  <input type="file" name="profile_picture">
  <br>
  <input type="hidden" name="token" value="{{session.token}}">
  <button type="submit">Update profile</button>
</form>

{% endblock %}