{% extends "layout.html" %}

{% block content%}

<div id="user_info">
    <div class="container_column">
        <h1>{{username}}</h1>

        {% if profile_picture %}
        <img id="user_picture" src="data:;base64,{{profile_picture}}" alt="Users profile picture" width="auto" height="200px">
        {% endif %}
    </div>
    <div class="container_column">
        {% if favourite_category %}
        <h3>Favourite Category</h3>
        <p>{{favourite_category}}s</p>
        {% endif %}

        {% if description %}
        <h3>Description</h3>
        <p>{{description}}</p>
        {% endif %}

        {% if allowed_to_modify %}
        <div class="container_row">
            <form action="/user/{{username}}/modify">
                <button type="submit">Modify</button>
            </form>
            <form action="/user/{{username}}/delete" method="post">
                <input type="hidden" name="token" value="{{session.token}}">
                <button type="submit">Delete User</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>

{% for review in reviews %}
<hr>
<div class="user_review">
    <p><a href="/category/{{review.category}}/{{review.id}}">{{review.name}}</a> | {{review.category.lower().capitalize()}}</p>
    <p>{{review.text}}</p>
    <h3 class="rating">{{review.rating}}</h3>
</div>

{% endfor %}

{% endblock %}