{% extends "layout.html" %}

{% block content%}
<h1>User Page</h1>

<h3>{{username}}</h3>

{% if profile_picture %}
<img src="data:;base64,{{profile_picture}}" alt="Users profile picture" width="auto" height="200px">
{% endif %}

{% for information in user_information %}
<p>{{information.key}}: {{information.value}}</p>
{% endfor %}

{% if allowed_to_modify %}
<a href="/user/{{username}}/modify">Modify</a>
{% endif %}
<hr>

{% for review in reviews%}
<div>
	<p>Category: {{review.category}}</p>
	<p>Name: {{review.name}}</p>
	<p>Review: {{review.text}}</p>
	<p>Rating: {{review.rating}}</p>
</div>
<hr>
{% endfor %}

{% endblock %}